---
import { Image } from "astro:assets";
const { eventCategory, event, IMAGE_URL, eventDetail } = Astro.props;
---

<section class="p-8">
    <h2 class="text-3xl text-center font-bold mb-4">{eventDetail?.name_events}</h2>
    <div set:html={eventDetail?.Description} />
    <div
        class="mt-4 gallery grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-2 max-h-96 overflow-y-scroll sm:justify-start justify-center"
    >
        {
            event?.map((event) => (
                <div class="gallery-item mb-6">
                    <Image
                        src={`${IMAGE_URL}/${event.event_image}`}
                        height={200}
                        width={200}
                        alt={eventDetail?.name_events}
                        class="w-full h-72 rounded shadow object-cover"
                        style="max-height: 500px; max-width: 100%;"
                        loading="lazy"
                        title={`Image of ${eventDetail?.name_events}`}
                        aria-label={`Image of ${eventDetail?.name_events}`}
                    />
                </div>
            ))
        }
    </div>
</section>
