---
import { Image } from "astro:assets";

export interface NewsCardProps {
    imgSrc: string;
    imgAlt: string;
    title: string;
    description: string;
    slugs: string;
}

const { imgSrc, imgAlt, title, description, slugs, id } = Astro.props;
---

<div>
    <a href={`/news-detail/${id}/${slugs}`}>
        <Image
            src={imgSrc}
            alt={imgAlt}
            width={250}
            height={250}
            class="w-full h-auto rounded-lg mb-4 object-contain"
            style="max-width: 250px; max-height: 250px;"
        />
        <h3 class="text-xl font-bold">
            {title}
        </h3>
        <div class="line-clamp-3" set:html={description} />
    </a>
</div>

